<div class="flex">
    <div class="register-image">
      <img src="../../../../../assets/auth/side-auth.png" />
    </div>
    
    <div class="form">
      <h1>Recupero Password</h1>
      <p style="margin-top: 20px">Inserisci nuovamente la password</p>
      <p style="margin-top: 2px; margin-bottom: 5ch;">rispettando i criteri indicati!</p>
      <form [formGroup]="passRecoverForm" (ngSubmit)="onSubmit()">
        <div class="form-1">
          <p>
            <mat-form-field class="form-input" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                id="password"
                type="password"
                formControlName="password"
              />
              <mat-error *ngIf="passRecoverForm.hasError('invalidPassword')">
                La password inserita non è valida
              </mat-error> 
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="form-input" appearance="outline">
              <mat-label>Ripeti password</mat-label>
              <input
                matInput
                placeholder="inserisci nuovamente la password"
                id="confirmPassword"
                type="password"
                formControlName="confirmPassword"
              />
              <mat-error *ngIf="passRecoverForm.hasError('matching')">
                Le password inserite non corrispondono
              </mat-error> 
            </mat-form-field>
          </p>
        </div>
  
        <button
          type="submit"
          class="submitbutton buttons-hover"
          mat-flat-button
          color="primary"
          [disabled]="!passRecoverForm.valid"
          >
          Crea Account
        </button>
      </form>
  
      <div class="redirectLink">
        <p>Ti sei ricordato la password?</p>
        <p 
            (click)="deleteVToken()"
            class="buttons-hover" 
            style="color: #007bff">
            Accedi!
        </p>
      </div>
    </div>
  </div>