<div
  class="cont-cust-table"
  *ngFor="let address of foundAddresses; let i = index"
>
  <app-dynamic-table-data-edit
    [selection]="addressSelections[i]"
    [columnsToDisplay]="addressColumnsToDisplays[i]"
    [dataSource]="addressDataSources[i]"
  ></app-dynamic-table-data-edit>
  <!-- Row with Button -->
  <div
    class="mat-elevation-z8 cust-btn-sect-style"
    style="text-align: center; padding: 10px; background-color: white"
  >
    <button
      style="cursor: pointer; align-items: center; justify-content: end"
      matTooltip="Modifica Tabella"
      type="submit"
      mat-icon-button
      (click)="fetchData(addressDataSources[i], i)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      style="cursor: pointer; align-items: center; justify-content: end"
      matTooltip="Elimina Tabella"
      mat-icon-button
      (click)="deleteTable(this.foundAddresses[i].id)"
    >
      <mat-icon style="color: red">delete</mat-icon>
    </button>
  </div>
</div>
